.app-galaxy {
  background: url(../../../../../assets/universe-background.png) no-repeat fixed;
  height: calc(100vh - 50px);
  overflow: auto;
  background-size: cover;
  opacity: 0.9;
  mat-drawer-container {
    background: transparent;
    width: auto;
    height: 100%;

    mat-drawer {
      padding: 20px 10px;
      width: 20%;
      overflow: auto;

      mat-form-field {
        width: 100%;
      }
      h2.selected-object-name {
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid grey;
        margin-bottom: 10px;
        padding-bottom: 5px;
      }
      .information-about-galaxy, .information-about-system {
        div {
          padding: 10px 0;
          margin: 5px 0;

          p.description {
            word-wrap: break-word;
            span.title-name {
              font-weight: 600;
              text-transform: uppercase;
              margin-right: 10px;
            }
          }
        }
      }

      .action-button-container {
        width: 100%;
        text-align: center;
        .galaxy-go-to-system {
          color: #3F51B5;
          font-size: 24px;
        }
        .galaxy-go-to-system:disabled {
          color: #BDBDBD;
        }
      }
    }
  }
  .galaxy-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    .toggle-left-navbar {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      border-radius: 0;
      height: 50px;
      width: 25px;
      z-index: 10;
      mat-icon {
        font-weight: 600;
        color: #616161;
      }
    }
    .galaxy-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .system {
      position: absolute;
      width: 100px;
      height: 100px;
      z-index: 5;
      img {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: 0;
        transition: width 2s, height 2s, top 2s, left 2s;
      }
    }
    .system:hover {
      cursor: pointer;
      img {
        position: absolute;
        top: -20px;
        left: -20px;
        width: 140px;
        height: 140px;
        transition: width 2s, height 2s, top 2s, left 2s;
      }
    }
  }

}
