<section class="app-galaxy">
  <mat-drawer-container *ngIf="!isDataLoading" autosize>
    <mat-drawer #drawer mode="side">
      <mat-form-field>
        <mat-select [(value)]="selectedSystem" placeholder="Select system">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let system of selectedGalaxy.spaceSystems" [value]="system">
            {{ system.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h2 class="selected-object-name">{{selectedSystem ? selectedSystem.name : selectedGalaxy.name}}</h2>
      <div class="information-about-galaxy" *ngIf="selectedGalaxy && !selectedSystem" fxLayout="column">
        <div>
          <p class="description"><span class="title-name">Diameter: </span>{{selectedGalaxy.diameter}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Number of stars: </span>{{selectedGalaxy.numberOfStars}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Thickness: </span>{{selectedGalaxy.thickness}}</p>
        </div>
      </div>
      <div class="information-about-system" *ngIf="selectedSystem" fxLayout="column">
        <div>
          <p class="description"><span class="title-name">Age: </span>{{selectedSystem.age}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of stars: </span>{{selectedSystem.starsAmount}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of planets: </span>{{selectedSystem.planetsAmount}}
          </p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of draft's planets: </span>{{selectedSystem.dwarfPlanetAmount}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of satellites: </span>{{selectedSystem.satellitesAmount}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of small bodies: </span>{{selectedSystem.smallBodyAmount}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of comets: </span>{{selectedSystem.cometAmount}}</p>
        </div>
      </div>

      <div class="action-button-container">
        <button mat-icon-button class="galaxy-go-to-system" matTooltip="Go to {{universe?.name}}" (click)="goToUniverse()">
          <i class="fas fa-chevron-circle-left"></i>
        </button>
        <button mat-icon-button class="galaxy-go-to-system" matTooltip="Go to {{selectedSystem?.name}}" [disabled]="!selectedSystem" (click)="goToSystem()">
          <i class="fas fa-chevron-circle-right"></i>
        </button>
      </div>
    </mat-drawer>

    <div class="galaxy-sidenav-content">
      <button mat-icon-button class="toggle-left-navbar show-left-navbar" (click)="drawer.toggle()">
        <mat-icon>{{drawer.opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
      </button>
      <div class="galaxy-container" (click)="selectSystem(null)"></div>
      <div class="system" *ngFor="let system of selectedGalaxy.spaceSystems"
           matTooltip="{{system.name}}"
           [ngStyle]="{'top': system.position.y + 'px', 'left': system.position.x + 'px'}" (click)="selectSystem(system); drawer.open()">
        <img src="assets/{{system.imageName}}.png" alt="{{system.name}}">
      </div>
    </div>

  </mat-drawer-container>

</section>
