<section class="app-observatory">

  <mat-drawer-container *ngIf="!isDataLoading" autosize>
    <mat-drawer #drawer mode="side">
      <mat-form-field>
        <mat-select [(value)]="selectedGalaxy"  placeholder="Select galaxy">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let galaxy of universe.spaceGalaxies" [value]="galaxy">
            {{ galaxy.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h2 class="selected-object-name">{{selectedGalaxy ? selectedGalaxy.name : universe.name}}</h2>
      <div class="information-about" fxLayout="column">
        <div fxLayout="row" fxLayoutWrap="wrap">
          <p class="title-name">Diameter</p>
          <p class="description">{{selectedGalaxy ? '' : universe.diameter}}</p>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <p class="title-name">Number of stars</p>
          <p class="description">{{selectedGalaxy ? '' : universe.numberOfStars}}</p>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <p class="title-name">Thickness</p>
          <p class="description">{{selectedGalaxy ? '' : universe.thickness}}</p>
        </div>
      </div>
      <div class="action-button-container">
        <button mat-icon-button class="observatory-go-to-galaxy" matTooltip="Go to {{selectedGalaxy.name}}" *ngIf="selectedGalaxy" (click)="goToGalaxy()">
          <mat-icon>info</mat-icon>
        </button>
      </div>

    </mat-drawer>

    <div class="observatory-sidenav-content">
      <button mat-icon-button class="toggle-left-navbar show-left-navbar" (click)="drawer.toggle()">
        <mat-icon>{{drawer.opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
      </button>
      <div class="universe-container" (click)="selectGalaxy(null)"></div>
      <div class="galaxy" *ngFor="let galaxy of universe.spaceGalaxies" matTooltip="{{galaxy.name}}"
           [ngStyle]="{'top': galaxy.position.y + 'px', 'left': galaxy.position.x + 'px'}" (click)="selectGalaxy(galaxy); drawer.open()">
        <img src="assets/galaxy-view.svg" alt="{{galaxy.name}}">
      </div>
    </div>

  </mat-drawer-container>

</section>
