<section class="app-space-system">
  <mat-drawer-container *ngIf="!isDataLoading" autosize>
    <mat-drawer #drawer mode="side">
      <mat-form-field class="select-space-object-container">
        <mat-select [(value)]="selectedSpaceObject" placeholder="Select system">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let planet of selectedSystem?.centralStar?.satelliteObjects" [value]="planet">
            {{ planet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="speed-action-button">
        <button mat-raised-button (click)="toMove()"> {{selectedSystem.onMove ? 'STOP' : 'START'}}</button>
        <mat-form-field class="object-speed">
          <mat-select [(value)]="orbitSpeed" placeholder="Select a speed" (change)="setOrbitSpeed()">
            <mat-option *ngFor="let speed of orbitSpeedArray" [value]="speed.key">
              {{ speed.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h2 class="selected-object-name">{{selectedSpaceObject ? selectedSpaceObject.name : selectedSystem.name}}</h2>
      <div class="information-about-system" *ngIf="selectedSystem && !selectedSpaceObject" fxLayout="column">
        <div>
          <p class="description"><span class="title-name">Age: </span>{{selectedSystem.age}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of stars: </span>{{selectedSystem.starsAmount}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of planets: </span>{{selectedSystem.planetsAmount}}
          </p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of draft's planets: </span>{{selectedSystem.dwarfPlanetAmount}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of satellites: </span>{{selectedSystem.satellitesAmount}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of small bodies: </span>{{selectedSystem.smallBodyAmount}}</p>
        </div>
        <div>
          <p class="description"><span class="title-name">Amount of comets: </span>{{selectedSystem.cometAmount}}</p>
        </div>
      </div>
      <div *ngIf="selectedSpaceObject" class="information-about-planet">
        <div *ngIf="selectedSpaceObject.isPlanet">
          <p class="description"><span class="title-name">Orbital period: </span>{{selectedSpaceObject.orbitSpeed}} Earth's days</p>
        </div>
        <div *ngIf="selectedSpaceObject.isPlanet">
          <p class="description"><span class="title-name">Number of rings: </span>{{selectedSpaceObject.rings}}</p>
        </div>
      </div>
      <div class="action-button-container">
        <button mat-icon-button class="galaxy-go-to-system" matTooltip="Go to {{selectedGalaxy?.name}}" (click)="goToGalaxy()">
          <i class="fas fa-chevron-circle-left"></i>
        </button>
      </div>
      <div>
        <mat-form-field class="object-speed">
          <mat-select [(value)]="selectedObserver" placeholder="Put an observer" (change)="setPlanetToObserver()" [disabled]="!selectedSpaceObject">
            <mat-option *ngFor="let observer of observers" [value]="observer">
              {{ observer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-drawer>

    <div class="system-sidenav-content">
      <button mat-icon-button class="toggle-left-navbar show-left-navbar" (click)="drawer.toggle()">
        <mat-icon>{{drawer.opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
      </button>
      <div class="system-container" (click)="selectPlanet(null)"></div>
      <div *ngIf="selectedSystem.centralStar"
           class="system-center-star"
           [ngStyle]="{'top': selectedSystem.centralStar.position.y + 'px', 'left': selectedSystem.centralStar.position.x + 'px', 'width': selectedSystem.centralStar.size.width + 'px', 'height': selectedSystem.centralStar.size.height + 'px'}"
           matTooltip="{{selectedSystem.centralStar.name}}"
           (click)="selectPlanet(selectedSystem.centralStar); drawer.open()">
        <img src="assets/{{selectedSystem.centralStar.imageName}}.png" alt="{{selectedSystem.centralStar.name}}">
      </div>
      <div *ngFor="let planet of selectedSystem.centralStar?.satelliteObjects"
           class="planet"
           [ngStyle]="{'top': planet.position.y + 'px', 'left': planet.position.x + 'px', 'width': planet.size.width + 'px', 'height': planet.size.height + 'px'}"
           matTooltip="{{planet.name}}"
           (click)="selectPlanet(planet); drawer.open()">
        <img src="assets/{{planet.imageName}}.png" alt="{{planet.name}}">
      </div>
    </div>

  </mat-drawer-container>

</section>
