<section class="app-space-system">
  <mat-drawer-container *ngIf="!isDataLoading" autosize>
    <mat-drawer #drawer mode="side">
      <h3>Information about: </h3>
      <h3 class="selected-object-name">{{selectedPlanet ? selectedPlanet.name : selectedSystem.name}}</h3>
    </mat-drawer>

    <div class="system-sidenav-content">
      <button mat-icon-button class="toggle-left-navbar show-left-navbar" (click)="drawer.toggle()">
        <mat-icon>{{drawer.opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
      </button>
      <div class="system-container" (click)="selectGalaxy(null)"></div>
    <!--  <div class="system-center-star" [ngStyle]="{'top': planet.position.y + 'px', 'left': planet.position.x + 'px'}" (click)="selectSystem(planet); drawer.open()"></div>-->
      <div class="planet" *ngFor="let planet of selectedSystem.spacePlanets"
           [ngStyle]="{'top': planet.position.y + 'px', 'left': planet.position.x + 'px'}" (click)="selectSystem(planet); drawer.open()">
        <img src="assets/{{planet}}.png" alt="{{planet.name}}">
      </div>
    </div>

  </mat-drawer-container>

</section>
