.app-space-objects-list {
  padding: 20px 10px;
  h1 {
    font-size: 25px;
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
    color: #3F51B5;
  }
  .top-action-buttons {
    align-self: flex-end;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .table-container {
    width: 100%;
    table {
      width: 100%;
      .mat-column-actions {
        width: 150px;
        text-align: left;
      }

    }
    .selected-row {
      background: #3F51B5;
      .mat-cell {
        color: white;
        mat-icon {
          color: white;
        }
      }
    }
    .mat-row:not(.selected-row):hover {
      background: #eee;
      cursor: pointer;
    }
  }

  .create-new-space-object, .edit-space-object, .delete-space-object {
    color: #3F51B5;
  }

}
